In [ ]:
import numpy                as np
import matplotlib.pyplot    as plt
import pandas               as pd

from mpl_toolkits           import mplot3d

**Gearbox Fault Diagnosis Data set** include the vibration dataset recorded by using SpectraQuest’s Gearbox Fault Diagnostics Simulator.
Dataset has been recorded using 4 vibration sensors placed in four different direction, and under variation of load from '0' to '90' percent. Two different scenario are included:
1) Healthy condition and
2) Broken Tooth Condition
There are 20 files in total, 10 for healthy gearbox and 10 from broken one. Each file corresponds to a given load from 0% to 90% in steps of 10%

In [ ]:
# Healthy

In [ ]:
h30hz0  = pd.read_csv("Healthy/h30hz0.csv")
h30hz10 = pd.read_csv("Healthy/h30hz10.csv")
h30hz20 = pd.read_csv("Healthy/h30hz20.csv")
h30hz30 = pd.read_csv("Healthy/h30hz30.csv")
h30hz40 = pd.read_csv("Healthy/h30hz40.csv")
h30hz50 = pd.read_csv("Healthy/h30hz50.csv")
h30hz60 = pd.read_csv("Healthy/h30hz60.csv")
h30hz70 = pd.read_csv("Healthy/h30hz70.csv")
h30hz80 = pd.read_csv("Healthy/h30hz80.csv")
h30hz90 = pd.read_csv("Healthy/h30hz90.csv")

In [ ]:
h30hz0  = pd.read_csv("h30hz0.csv")

In [ ]:
h30hz0

              a1        a2        a3        a4
0       4.636710  0.516978 -3.205940  1.822410
1       1.992800  4.184660 -2.740610  2.804360
2      -3.764110  0.997335 -1.303090  1.836680
3      -4.558710  6.104330 -1.720690  1.723110
4       0.575382  0.170980 -0.497967 -1.328950
...          ...       ...       ...       ...
88827   2.809130 -3.421020  2.817560  5.418570
88828  11.952700  1.738450  4.215360  5.602480
88829   6.530280 -3.127760 -2.620330 -3.159950
88830  -8.614460  5.420640 -6.559170 -0.519373
88831 -13.777300  2.096510 -0.539919 -2.721940

[88832 rows x 4 columns]

In [ ]:
# Broken

In [ ]:
b30hz0  = pd.read_csv("BrokenTooth/b30hz0.csv")
b30hz10 = pd.read_csv("BrokenTooth/b30hz10.csv")
b30hz20 = pd.read_csv("BrokenTooth/b30hz20.csv")
b30hz30 = pd.read_csv("BrokenTooth/b30hz30.csv")
b30hz40 = pd.read_csv("BrokenTooth/b30hz40.csv")
b30hz50 = pd.read_csv("BrokenTooth/b30hz50.csv")
b30hz60 = pd.read_csv("BrokenTooth/b30hz60.csv")
b30hz70 = pd.read_csv("BrokenTooth/b30hz70.csv")
b30hz80 = pd.read_csv("BrokenTooth/b30hz80.csv")
b30hz90 = pd.read_csv("BrokenTooth/b30hz90.csv")

In [ ]:
# Add Load and Failure Column for Healthy

In [ ]:
failure = 0

In [ ]:
load = 0

In [ ]:
h30hz0['load'] = load*np.ones((len(h30hz0.index),1))
failureArray = np.zeros((len(h30hz0.index),1))
h30hz0['failure'] = failureArray

In [ ]:
load = 10

In [ ]:
h30hz10['load'] = load*np.ones((len(h30hz10.index),1))
failureArray = np.zeros((len(h30hz10.index),1))
h30hz10['failure'] = failureArray

In [ ]:
load = 20

In [ ]:
h30hz20['load'] = load*np.ones((len(h30hz20.index),1))
failureArray = np.zeros((len(h30hz20.index),1))
h30hz20['failure'] = failureArray

In [ ]:
load = 30

In [ ]:
h30hz30['load'] = load*np.ones((len(h30hz30.index),1))
failureArray = np.zeros((len(h30hz30.index),1))
h30hz30['failure'] = failureArray

In [ ]:
load = 40

In [ ]:
h30hz40['load'] = load*np.ones((len(h30hz40.index),1))
failureArray = np.zeros((len(h30hz40.index),1))
h30hz40['failure'] = failureArray

In [ ]:
load = 50

In [ ]:
h30hz50['load'] = load*np.ones((len(h30hz50.index),1))
failureArray = np.zeros((len(h30hz50.index),1))
h30hz50['failure'] = failureArray

In [ ]:
load = 60

In [ ]:
h30hz60['load'] = load*np.ones((len(h30hz60.index),1))
failureArray = np.zeros((len(h30hz60.index),1))
h30hz60['failure'] = failureArray

In [ ]:
load = 70

In [ ]:
h30hz70['load'] = load*np.ones((len(h30hz70.index),1))
failureArray = np.zeros((len(h30hz70.index),1))
h30hz70['failure'] = failureArray

In [ ]:
load = 80

In [ ]:
h30hz80['load'] = load*np.ones((len(h30hz80.index),1))
failureArray = np.zeros((len(h30hz80.index),1))
h30hz80['failure'] = failureArray

In [ ]:
load = 90

In [ ]:
h30hz90['load'] = load*np.ones((len(h30hz90.index),1))
failureArray = np.zeros((len(h30hz90.index),1))
h30hz90['failure'] = failureArray

In [ ]:
# Add Load and Failure Column for Broken

In [ ]:
failure = 1

In [ ]:
load = 0

In [ ]:
b30hz0['load'] = load*np.ones((len(b30hz0.index),1))
failureArray = np.ones((len(b30hz0.index),1))
b30hz0['failure'] = failureArray

In [ ]:
load = 10

In [ ]:
b30hz10['load'] = load*np.ones((len(b30hz10.index),1))
failureArray = np.ones((len(b30hz10.index),1))
b30hz10['failure'] = failureArray

In [ ]:
load = 20

In [ ]:
b30hz20['load'] = load*np.ones((len(b30hz20.index),1))
failureArray = np.ones((len(b30hz20.index),1))
b30hz20['failure'] = failureArray

In [ ]:
load = 30

In [ ]:
b30hz30['load'] = load*np.ones((len(b30hz30.index),1))
failureArray = np.ones((len(b30hz30.index),1))
b30hz30['failure'] = failureArray

In [ ]:
load = 40

In [ ]:
b30hz40['load'] = load*np.ones((len(b30hz40.index),1))
failureArray = np.ones((len(b30hz40.index),1))
b30hz40['failure'] = failureArray

In [ ]:
load = 50

In [ ]:
b30hz50['load'] = load*np.ones((len(b30hz50.index),1))
failureArray = np.ones((len(b30hz50.index),1))
b30hz50['failure'] = failureArray

In [ ]:
load = 60

In [ ]:
b30hz60['load'] = load*np.ones((len(b30hz60.index),1))
failureArray = np.ones((len(b30hz60.index),1))
b30hz60['failure'] = failureArray

In [ ]:
load = 70

In [ ]:
b30hz70['load'] = load*np.ones((len(b30hz70.index),1))
failureArray = np.ones((len(b30hz70.index),1))
b30hz70['failure'] = failureArray

In [ ]:
load = 80

In [ ]:
b30hz80['load'] = load*np.ones((len(b30hz80.index),1))
failureArray = np.ones((len(b30hz80.index),1))
b30hz80['failure'] = failureArray

In [ ]:
load = 90

In [ ]:
b30hz90['load'] = load*np.ones((len(b30hz90.index),1))
failureArray = np.ones((len(b30hz90.index),1))
b30hz90['failure'] = failureArray

In [ ]:
b30hz90.tail()

             a1       a2        a3        a4  load  failure
105723  4.43417 -2.03793 -0.546417  1.181320  90.0      1.0
105724  2.90332 -2.82035 -2.486930  0.115640  90.0      1.0
105725 -1.61799  1.27861 -6.159510 -1.376230  90.0      1.0
105726 -2.01122 -4.02945 -0.082050  0.932847  90.0      1.0
105727 -4.43736 -1.97041  3.074570 -3.557610  90.0      1.0

In [ ]:
# Concat Healty and Broken

In [ ]:
broken_df = pd.concat([b30hz0,b30hz10,b30hz20,b30hz30,b30hz40,b30hz50,b30hz60,b30hz70,b30hz80,b30hz90],axis=0,ignore_index=True)

In [ ]:
healthy_df = pd.concat([h30hz0,h30hz10,h30hz20,h30hz30,h30hz40,h30hz50,h30hz60,h30hz70,h30hz80,h30hz90],axis=0,ignore_index=True)

In [ ]:
broken_health_merged   = pd.concat([broken_df,healthy_df], axis =0)